/*  VAR */
:root {
    --color-principal: rgb(13, 13, 13);
    --color-menu: rgb(255, 255, 255);
    --color-hover: rgb(179, 23, 24);
    --color-background: rgb(24, 24, 24);
    /*font-family: 'Oswald', sans-serif;*/
    /*font-family: 'Bebas Neue', cursive;*/
    scroll-behavior: smooth;
}

/*  GRID BODY   */
body {
    display: grid;
    grid-template-rows: 110px 1fr 70px;
    background: var(--color-background);

}


/*  HEADER  */

.header {
    grid-row: 1/2;
    background: var(--color-principal);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    padding: 10px 10px 10px 50px;
}

.header__logo img {
    height: 100px;
}

/*  NAV  */
.header__nav-container {
    padding: 0 150px 0 0;
}

.header__nav-ul li {
    display: inline-block;
}

.header__nav-ul a {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    color: var(--color-menu);
    text-decoration: none;
    padding: 15px;
}

.header__nav-ul a:hover {
    color: var(--color-hover);
    text-decoration: underline 3px var(--color-hover);
    transition: .3s;
}

/*  ARTICLE */

.article {
    grid-row: 2/3;
}

/*  BANNER    */
.article__banner {
    height: 300px;
}

.article__banner img {
    position: absolute;
    width: 100%;
    height: 300px;
    object-fit: cover;
    opacity: .5;
    object-position: bottom;
}

/*  PRODUCTS    */

.article__product {
    padding: 100px 0;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
    text-align: center;
}

.article__product-h1 {
    grid-row: 1/2;
    grid-column: 1/4;
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    color: var(--color-menu);
    text-decoration: underline 3px var(--color-menu);
}

.article__product-gallery {
    display: flex;
    flex-direction: column;


}

.article__product-gallery img {
    padding: 30px;
    width: 60%;
    margin: auto;
    opacity: .8;
    filter: drop-shadow(10px 10px 10px var(--color-principal));
    transition: .3s;
}

.article__product-gallery img:hover {
    transform: scale(1.05);
    cursor: pointer;
    opacity: 1;
}

/*  CONTACT */

.article__contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article__contact h2 {
    padding: 50px 0;
    font-family: 'Bebas Neue', cursive;
    font-size: 55px;
    color: var(--color-menu);
    text-decoration: underline 3px var(--color-menu);
    text-align: center;
}

.article__contact-form {
    text-align: center;
}

.article__contact-input,
.article__contact-text {
    padding: 5px;
    display: block;
    margin: 16px;
    width: 800px;
    background: transparent;
    border: none;
    border-bottom: solid 3px var(--color-menu);
    color: var(--color-menu);
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
    resize: none;
}

.article__contact-input:focus,
.article__contact-text:focus {
    outline: none;
    border-bottom: solid 3px var(--color-hover);
    transition: .3s;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.article__contact-button {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: none;
    background: var(--color-menu);
    color: var(--color-background);
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 400;
    cursor: pointer;
}

.article__contact-button:hover {
    transition: .3s;
    background: var(--color-hover);
}

.article__contact-phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 800px;
    padding: 50px 0 50px 0;
}

.article__contact-div {
    padding: 10px;
}

.article__contact-div i {
    color: var(--color-menu);
    font-size: 30px;
    display: inline-block;
}

.article__contact-div p {
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: var(--color-menu);
    display: inline-block;
    padding-left: 10px;
}

/* FOOTER   */

.footer {
    background: var(--color-principal);
    display: flex;
    justify-content: flex-end;
}

.footer__copyright {
    padding: 10px 20px;
}

.footer__copyright p {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--color-menu);
    padding: 5px;
    opacity: .6;
}

.footer__copyright i {
    font-size: 10px;
    padding: 0 4px;
}


/*  RESPONSIVE  */
@media only screen and (max-width: 1150px) {

    /*  LOGO    */
    .header__logo {
        padding: 10px 10px 10px 50px;
        margin: auto;
    }

    .header__logo img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

    /*  NAV  */
    .header__nav-container {
        display: none;
    }


    /*  BANNER  */
    .article__banner {
        height: 300px;
        width: 100%;
    }

    .article__banner img {
        position: absolute;
        height: 300px;
        object-fit: cover;
        opacity: .5;
        object-position: bottom;
    }

    /* PRODUCTS */

    .article__product {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .article__product-h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 55px;
        color: var(--color-menu);
        text-decoration: underline 3px var(--color-menu);
    }

    .article__product-gallery {
        display: flex;
        flex-direction: column;
    }

    .article__product-gallery img {
        padding: 30px;
        width: 90%;
        margin: auto;
        opacity: .8;
        filter: drop-shadow(10px 10px 10px var(--color-principal));
    }


    /*  CONTACT */

    .article__contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .article__contact h2 {
        padding: 50px 0;
        font-family: 'Bebas Neue', cursive;
        font-size: 55px;
        color: var(--color-menu);
        text-decoration: underline 3px var(--color-menu);
        text-align: center;
    }

    .article__contact-form {
        text-align: center;
    }

    .article__contact-input,
    .article__contact-text {
        padding: 5px;
        display: block;
        margin: 16px;
        width: 800px;
        background: transparent;
        border: none;
        border-bottom: solid 3px var(--color-menu);
        color: var(--color-menu);
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        font-weight: 400;
        cursor: pointer;
        resize: none;
    }


    .article__contact-button {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        border: none;
        background: var(--color-menu);
        color: var(--color-background);
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        font-weight: 400;
        cursor: pointer;
    }


    .article__contact-phone {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 800px;
        padding: 50px 0 50px 0;
    }

    .article__contact-div {
        padding: 10px;
    }

    .article__contact-div i {
        color: var(--color-menu);
        font-size: 30px;
        display: inline-block;
    }

    .article__contact-div p {
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        font-weight: 400;
        color: var(--color-menu);
        display: inline-block;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 850px) {

    /*  CONTACT */
    .article__contact-input,
    .article__contact-text {
        padding: 5px;
        display: block;
        margin: 16px;
        width: 500px;
        background: transparent;
        border: none;
        border-bottom: solid 3px var(--color-menu);
        color: var(--color-menu);
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        resize: none;
    }

    .article__contact-text {
        height: 200px;
    }

    .article__contact-button {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        border: none;
        background: var(--color-menu);
        color: var(--color-background);
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }


    .article__contact-phone {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 500px;
        padding: 50px 0 50px 0;
    }

}

@media only screen and (max-width: 600px) {

    /*  LOGO    */
    .header__logo {
        padding: 10px 10px 10px 50px;
        margin: auto;
    }

    .header__logo img {
        width: 100%;
        height: 80px;
        object-fit: cover;
    }

    /*  NAV  */
    .header__nav-container {
        display: none;
    }


    /*  BANNER  */
    .article__banner {
        display: none;
        height: 200px;
        width: 100%;
    }

    .article__banner img {
        position: absolute;
        height: 200px;
        object-fit: cover;
        opacity: .5;
        object-position: bottom;
    }

    /* PRODUCTS */
    .article__product {
        padding: 100px 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .article__product-h1 {
        font-family: 'Bebas Neue', cursive;
        font-size: 40px;
        color: var(--color-menu);
        text-decoration: underline 3px var(--color-menu);
    }

    .article__product-gallery {
        display: flex;
        flex-direction: column;
    }

    .article__product-gallery img {
        padding: 10px;
        width: 100%;
        margin: auto;
        opacity: .8;
        filter: drop-shadow(10px 10px 10px var(--color-principal));
    }


    /*  CONTACT */

    .article__contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .article__contact h2 {
        padding: 50px 0;
        font-family: 'Bebas Neue', cursive;
        font-size: 40px;
        color: var(--color-menu);
        text-decoration: underline 3px var(--color-menu);
        text-align: center;
    }

    .article__contact-form {
        text-align: center;
    }

    .article__contact-input,
    .article__contact-text {
        padding: 5px;
        display: block;
        margin: 16px;
        width: 300px;
        background: transparent;
        border: none;
        border-bottom: solid 3px var(--color-menu);
        color: var(--color-menu);
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        resize: none;
    }


    .article__contact-button {
        display: inline-block;
        margin: 10px;
        padding: 10px;
        border: none;
        background: var(--color-menu);
        color: var(--color-background);
        font-family: 'Oswald', sans-serif;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }


    .article__contact-phone {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 300px;
        padding: 50px 0 50px 0;
    }



    .article__contact-div p {
        font-family: 'Oswald', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: var(--color-menu);
        display: inline-block;
        padding-left: 10px;
    }

    .article__contact-div i {
        display: none;
    }


    /* FOOTER   */
    .footer__copyright {
        font-size: 13px;
        text-align: center;
        margin: auto;
    }
}